<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringBootPostgresRunConfig" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <option name="ACTIVE_PROFILES" value="postgres" />
    <option name="envFilePaths">
      <option value="$PROJECT_DIR$/.env" />
    </option>
    <module name="asteroid-mining-api" />
    <selectedOptions>
      <option name="environmentVariables" />
    </selectedOptions>
    <option name="SPRING_BOOT_MAIN_CLASS" value="com.spacecorp.asteroidmining.AsteroidMiningApiApplication" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>